<div class="row mt-2 mb-2">
  <h2 class="col-9 text-center">Bienvenido <%- user.nombre %></h2>

    <a href="/logout" class="col">
      <button class="btn btn-success">Desloguearse</button>
    </a>

</div>